img{
    width: 150px;
    height: 150px;
}
.first-section{
    display: flex;
    align-items: center;
    justify-content: center;

}
.para-heading{
    margin-left: 20px;
    
}
body{
    background-color: azure;
}
input[type="text"],[type="email"] , [type="number"]{
    width: 60%;
    padding: 12px;
    resize: vertical;
    box-sizing: border-box;
    display: block;
    


}
textarea{
    width: 60%;
    height: 200px;

}

button{
    padding: 10px;
    width: 60%;
    padding-left: 10px;
    margin-top: 20px;
    display: inline;
    border: 2px solid green;
    background-color: green;
    color:white;
    cursor: pointer;
    
}
#survey-form{
        position: relative;
        text-align: justify;
        
        width: 640px;
        margin: 200px;
        margin-top: 10px;
        justify-content: center;
        padding-left: 200px;
        padding-top: 20px;
        padding-bottom: 20px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        

}
label{
font: 17px "typewriter" , sans-serif;
font-weight: bolder;
}
button{
    border-radius: 30%;
    border: 2px solid grey;
    width: 150px;
    margin-left: 100px;
    
}
h1{
    color:blueviolet;
    font-family: sans-serif;
    text-decoration: solid;
}
p{
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
